<!DOCTYPE html>
<html>
  <head>
    <title>Sweet Chat - lab02 - 1412002</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500&amp;subset=vietnamese" rel="stylesheet">

  </head>
<style type="text/css">
  @font-face
{
    font-family: font;
    src: url("../Helvetica-Normal.ttf");
}
</style>
  <body >
  	<div class="main">
    	<%= yield %>
  	</div>
  </body>
</html>
